@page
@model VismaTest.Pages.Stillinger.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Stilling[0].Stillingstittel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stilling[0].StillingStartDato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stilling[0].StillingSluttDato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Stilling[0].Ansatt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Stilling)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stillingstittel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StillingStartDato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StillingSluttDato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ansatt.AnsattNavn)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StillingID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StillingID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StillingID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>