@page
@model VismaTest.Pages.StillingsOppgaver.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>StillingsOppgave</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StillingsOppgave.Stilling)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StillingsOppgave.Stilling.Stillingstittel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StillingsOppgave.Oppgave)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StillingsOppgave.Oppgave.OppgaveNavn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StillingsOppgave.Stilling.Ansatt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StillingsOppgave.Stilling.Ansatt)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.StillingsOppgave.StillingsOppgaveID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
