@page
@model VismaTest.Pages.StillingsOppgaver.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StillingsOppgave[0].Stilling)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StillingsOppgave[0].Oppgave)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.StillingsOppgave) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Stilling.Stillingstittel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oppgave.OppgaveNavn)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.StillingsOppgaveID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.StillingsOppgaveID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.StillingsOppgaveID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
