@page
@model VismaTest.Pages.EmplyeePositions.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>EmployeePosition</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeePosition.PositionTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeePosition.PositionTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmployeePosition.EmployeeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmployeePosition.EmployeeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.EmployeePosition.EmployeePositionID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
